// Color System

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// Material Scheme Colors

$primary-main:    #c0ff6e !default;
$primary-light:   #f5ffa0 !default;
$primary-dark:    #8ccc3c !default;
$primary-text:    #000000 !default;

$secondary-main:  #bdbdbd !default;
$secondary-light: #efefef !default;
$secondary-dark:  #8d8d8d !default;
$secondary-text:  #000000 !default;

$dark:  darken($secondary-dark, 35%) !default;

// Theme colours

$primary: darken($secondary-dark, 40%) !default;
$primary-light: lighten($primary, 75%) !default;
$secondary: $secondary-main !default;
$success: #3772FF !default;
$info: #619124 !default;
$warning: #ED6A5A !default;
$danger: #ED6A5A !default;
$white: #ffffff !default;
$light: #D3F3EE !default;

// UI element colors

$border-color: darken($secondary-main, 10%);
$td-sidebar-border-color: $secondary-dark;

// Body

$body-bg: $secondary-light !default;
$body-color: $secondary-text !default;

// Sidebar

$td-sidebar-bg-color: desaturate($primary-light, 80%) !default;
$td-sidebar-text-color: $secondary-text !default;
$td-sidebar-link-color: darken($secondary-text, 10%) !default;
$td-sidebar-hover-color: desaturate($primary-dark, 20%) !default;

//Table of Contents

$td-toc-text-color: $secondary-text;
$td-toc-text-hover-color: darken($primary-dark, 20%) !default;
$td-toc-bg-color: desaturate($primary-light, 80%) !default;

// Links
// Only affects text links and breadcrumbs, not the sidebars.

$link-color: darken($primary-main, 49%) !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: none !default;

// Font

$google_font_name: "Roboto";
$google_font_family: "Roboto:300,300i,400,400i,700,700i";
